.languages-page {
  background-color: $app-white;
  min-height: 100vh;
}

#languages-header {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1.5px;
  color: $gray;
}

#languages-container {
  margin-top: 100px;
}

.languages-language-background {
  background-size: cover;
  height: 262px;
  width: 462px;
  transition: all 0.3s ease;
}

.languages-language-title {
  position: absolute;
  text-align: center;
  height: 60px;
  left: 0;
  right: 0;
  top: 85px;
  color: white;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 4px;
}

#arabic-card:hover {
  box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
  z-index: 10;
<<<<<<< HEAD
  color: red;
=======
>>>>>>> 4f168aa560ddc9e37fa2f3d0f3dc09e9441bc5c0
}

#arabic-card:hover + #urdu-card {
  filter: blur(2px);
  opacity: 0.7;
}

#urdu-card:hover {
  box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
  z-index: 10;
}

#urdu-card:hover + #arabic-card {
  filter: blur(2px);
  opacity: 0.7;
}

.blur {
  filter: blur(2px);
  opacity: 0.7;
}
