.languages-page {
  background-color: $app-white;
  min-height: 100vh;
}

#languages-header {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1.5px;
  color: $gray;
}

#languages-container {
  margin-top: 100px;
}

.languages-language-background {
  background-size: cover;
  height: 262px;
  width: 462px;
}

.languages-language-title {
  position: absolute;
  text-align: center;
  height: 60px;
  left: 0;
  right: 0;
  top: 85px;
  color: white;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 1.5px;
}
