<h1>Languages#index</h1>
<p>Find me in app/views/languages/index.html.erb</p>
<%= @languages.each do |language| %>
  <h2><%= language.name %></h2>
  <%= link_to language_path(language) do %>
    <p>Find out more</p>
  <% end %>
<% end %>
