<div class="languages-page">
  <div class="container">
    <div class="home-container">
      <h1 id="languages-header"><%= @language.name %></h1>
      <%= link_to new_language_user_language_path(@language) do %>
        <p>Learn <%= @language.name %></p>
      <% end %>
      <% if @language.name == "Arabic" %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
