<div class="home-banner">
  <div class="container">
    <div class="row home-banner-content">
      <div class="home-banner-left col-xs-12 col-md-6">
        <span id="typed"></span>
        <%#= simple_form_for @language, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
        <%#= f. %>
      </div>
      <div class="home-banner-right col-xs-12 col-md-6">
        <%= image_tag "coloured-map", id: "map-home" %>
        <div class="pin"></div>
      </div>
      <div id="about-us-div">
        <p id="about-us">About us</p>
      </div>
      <div class="arrow-container bounce">
        <%= image_tag "down-arrow", id: "arrow" %>
      </div>
    </div>
  </div>
</div>
