<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="home-banner-left col-xs-12 col-md-6">
        <h4>Learn a language from a local expert</h4>
      </div>
      <div class="home-banner-right col-xs-12 col-md-6">
        <%= image_tag "map", id: "map-home" %>
      </div>

    </div>
  </div>
</div>
