input.login-form-input {
  background-color: #FFFFFB;
  color: #1A1A1A;
  letter-spacing: 1.5px;
  border-radius: 0;
  // border-bottom: none;
  border-bottom: 1px solid #1A1A1A;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

input.login-form-input:focus {
  box-shadow: none;
  border-bottom: 1px solid rgba(26,26,26,0.5);
}

label.login-form-label {
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 1px;
}

.custom-form-group {
  position: relative;
  margin-bottom: 22px;
  height: 72px;


  label {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
  }
}
