input.form-input {
  background-color: $app-white;
  color: $gray;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 0;
  // border-bottom: none;
  border-bottom: 1px solid $gray;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

input.form-input:focus {
  box-shadow: none;
  border-bottom: 1px solid rgba(26,26,26,0.5);
}

label.form-label {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
}

.custom-form-group {
  position: relative;
  margin-bottom: 22px;
  height: 73px;
  label {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
  }
}
