#llcModalSignup {
  margin: 50px auto;
  padding: 0;
  h3 {
    color: $gray;
    letter-spacing: 1px;
  }
}

#llcModalLogin {
  margin: 100px auto;
  padding: 0;
  h3 {
    color: $gray;
    letter-spacing: 1px;
  }
}

#llcModalSignupTitle, #llcModalLoginTitle {
  font-weight: 400;
}

#llc-modal-signup-content {
  background-color: $app-white;
  border-radius: 5px;
  height: 518px;
  width: 450px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#llc-modal-login-content {
  background-color: $app-white;
  border-radius: 5px;
  height: 426px;
  width: 450px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  display: flex;
  justify-content: space-around;
}

.llc-modal-title {
  margin-top: 28px;
}

.llc-modal-body {
  position: relative;
}

.llc-modal-dialog {
}


.modal-button {
  box-shadow: none;
  margin: 30px;
  background-color: $red;
}


.modal-title {
  text-align: center;
}

.modal-form-inputs {
  margin-left: 50px;
  margin-right: 50px;
}

.cross {
  position: absolute;
  font-size: 30px;
  top: 15px;
  right: 20px;
  color: $gray;
  opacity: 0.9;
}

.cross:hover {
  opacity: 0.5;
  text-shadow: none;
}
